* {
  padding: 0;
  margin: 0;
}

:root {
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --Strong-cyan: hsl(172, 67%, 45%);
  --White: hsl(0, 0%, 100%);
  font-size: 24px;
}
/* This is our body */
body {
  background-color: var(--Light-grayish-cyan);
  font-family: "Space Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin: 2.5rem 2.5rem;
}
.title,
label,
.icon {
  color: var(--Dark-grayish-cyan);
}
main {
  background-color: var(--White);
  margin: 0;
  padding: 1.5rem;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  flex-direction: column;
}
label {
  font-weight: bold;
  margin-bottom: 6px;
  display: block;
}
.input_wrapper {
  background-color: var(--Very-light-grayish-cyan);
  padding: 0.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input[type="number"] {
  font-family: "Space Mono", monospace;
  font-weight: bold;
  font-size: 24px;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: right;
  color: var(--Very-dark-cyan);
}
.icon {
  height: 24px;
}
section.left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.option {
  background-color: var(--Very-dark-cyan);
  color: var(--White);
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
}
.options-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
.option:hover {
  background-color: hsl(172, 67%, 45%);
  color: var(--Very-dark-cyan);
}
.option:nth-child(6) {
  background-color: var(--Very-light-grayish-cyan);
  color: var(--Very-dark-cyan);
}
/*----------------------BOTTON CONTAINER------------------ */
section.right {
  color: var(--White);
  background-color: var(--Very-dark-cyan);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 8px;
  margin-top: 2rem;
  gap: 1rem;
}
section.right div {
  display: flex;
  justify-content: space-between;
}
section.right p {
  font-weight: 600;
}
span {
  font-size: 0.8rem;
  color: var(--Grayish-cyan);
}
section.right h2 {
  color: var(--Strong-cyan);
}
section.right button {
  font-size: 24px;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  color: var(--Very-dark-cyan);
  background-color: var(--Strong-cyan);
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 1rem;
}
