* {
  padding: 0;
  margin: 0;
}

:root {
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
  font-size: 24px;
}
/* This is our body */
body {
  background-color: var(--Light-grayish-cyan);
  font-family: "Space Mono", monospace;
}
.title {
  text-transform: uppercase;
  letter-spacing: 1rem;
}
.title,
label,
.icon {
  color: var(--Dark-grayish-cyan);
}
main {
  background-color: var(--White);
  margin: 0;
  padding: 1.5rem;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  flex-direction: column;
}
label {
  font-weight: bold;
  margin-bottom: 6px;
  display: block;
}
.input_wrapper {
  background-color: var(--Very-light-grayish-cyan);
  padding: 0.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input[type="number"] {
  font-family: "Space Mono", monospace;
  font-weight: bold;
  font-size: 24px;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: right;
  color: var(--Very-dark-cyan);
}
.icon {
  height: 24px;
}
section.left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.option {
  background-color: var(--Very-dark-cyan);
  color: var(--White);
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
}
